.left-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; /* Sesuaikan lebar dengan menu-mu */
    height: 100%;
    background-color: #fff; /* Sesuaikan dengan warna background halaman */
    z-index: 1; /* Pastikan nilai z-index lebih tinggi dari konten di bagian kanan */
    overflow: hidden;
    margin-right: 60px;

    
  }

  .right-content {
    position: absolute;
    top: 0;
    left: 300px; /* Sesuaikan dengan lebar menu */
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
  }
  
  